name: Java CI with Maven

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'corretto'
        cache: maven
        
    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: OWASP Dependency Check
      # DODANO: 'purge' przed 'check'. To czysci zepsuta baze danych przed skanowaniem.
      run: mvn org.owasp:dependency-check-maven:purge org.owasp:dependency-check-maven:check -Dformat=HTML -DfailBuildOnCVSS=7
