name: Java CI with Maven

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'corretto'
        cache: maven
        
    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: OWASP Dependency Check
      uses: dependency-check/Dependency-Check_Action@main
      with:
        project: 'lab10'
        path: '.'
        format: 'HTML'
        # To realizuje punkt 4.2 z PDF - przerywa build przy powaznych bledach (poziom 7.0+)
        args: >
          --failOnCVSS 7
          --enableExperimental
